
<div class="jumbotron">
  <h2>
    <%= icon 'book' %>
    Site Management
    <em class='small'>bookmark your favourite URL's</em>
  </h2>
  <br>
  <p class='text-muted'>
    Keeps a record of sites you may wish to revisit,
    allowing you to easily bring them back up in tabs.
  </p>
  <p class='text-muted'>
    You can import your current bookmarks from Firefox or Chrome.
  </p>
  <p class='text-muted'>
    Alternatively, you can enter your URL's in a bookmark form,
    or simply as plain text.
  </p>
  <p class='text-muted'>
     Your bookmarks can be changed, moved about, and deleted.
  </p>
  <p class='text-muted'>
    Bookmarks are always stored under a tag, or folder,
    of your own choice.
  </p>
  <p class='text-muted'>
    Produces a CSV file of your bookmarked sites,
    for backups or distribution.
  </p>

<!--
  <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more</a></p>
-->
</div>
