
<div class="jumbotron">
  <h2>
    <%= icon 'book' %>
    Site Management
    <em class='small'>bookmark your favourite URL's</em>
  </h2>
  <br>
  <p class='text-muted'>
    Keeps a record of sites you may wish to revisit,
    allowing you to easily bring them back up in tabs,
    with a single key-stroke.
  </p>
  <p class='text-muted'>
    You can import your current bookmarks from Firefox or Chrome.
  </p>
  <p class='text-muted'>
    Alternatively, you can manually fill-in URL's - in a bookmark form.
    Or, simply as plain text - in an import form.
  </p>
  <p class='text-muted'>
    Bookmarks are always stored under a tag, or folder,
    of your own choosing.
    <em>
      Tags are created for you on an import, otherwise, you must
      create one before you're able to enter any site addresses.
    </em>
  </p>
  <p class='text-muted'>
    A tag consists of a simple name, which is label referring to a category.
    Some examples of a tag, might be <em>misc</em>, <em>work</em> and
    <em>knitting</em>.
    Tags can be nested in a tree-like structure.
  </p>
  <p class='text-muted'>
    Through the <em>Export</em> link,
    you can download a CSV file of your bookmarked sites,
    for backups or sharing. On the <em>Import</em> page,
    you can upload this file.
  </p>
  <p class='text-muted'>
    Your bookmarked pages can be changed, moved about, and deleted.
  </p>
  <p class='text-muted'>
    Once registered,
    you can forever delete everything to do with your account
    - in case you don't want to continue to use the service.
  </p>
  <p class='text-muted'>
    A site like this has become more useful lately,
    as too many sites have JavaScript leaks and hangs.
    These bugs eat into resources
    if a defective page is left open in a tab,
    which reduces overall performance,
    slowing everything else down.
  </p>
  <p>
    <%= link_to 'Demo', :demo, class: "btn btn-primary btn-lg", role: "button" %>
<!--
    <a class="btn btn-primary btn-md" href="" role="button">Learn more</a>
-->
  </p>
</div>
