
<div class="well">
  <h5 class='text-center'>CSV Field Format</h5>
  <pre>url, tag_path, title, description</pre>
  <dl class="dl-horizontal">
    <dt>url</dt>
    <dd>A site's full address. Include the <strong>http</strong> prefix.</dd>

    <dt>tag_path</dt>
    <dd>One or more tag names, delimited by a <strong>/</strong> character</dd>

    <dt>title</dt>
    <dd>Free text, should be a site's title</dd>

    <dt>description</dt>
    <dd>Free text, should be some text extracted from a site itself</dd>
  </dl>
  <p>The free text fields are relatively unimportant.</p>
</div>
