
<% if search_form_controller? params['controller'] %>
  <%= form_tag({action: :index}, method: :get,
                                 class: "navbar-form navbar-left",
                                 role: "search") do %>
    <div class="form-group">
      <input id="q" name="q" type="text" value="<%= params[:q] %>"
             class="form-control" placeholder="Search">
    </div>

    <button type="submit" class="btn btn-info btn-sm">Search</button>
  <% end %>
<% end %>

